{# templates/sobre_nosotros.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
    <h1>Sobre Nosotros</h1>
    <p>Bienvenido a VitalMe, tu sitio web para calcular calorías, macros y más.</p>
    <p>Somos un equipo comprometido en brindarte la mejor experiencia para llevar un estilo de vida saludable.</p>
    <p>¡Explora nuestras herramientas y comienza tu viaje hacia una vida más saludable hoy mismo!</p>
{% endblock %}
