{# templates/registro_peso/nuevo.html.twig #}

{% extends 'layout.html.twig' %}

{% block title %}Nuevo Registro de Peso{% endblock %}

{% block content %}
<h1>Objetivos de calorías</h1>

<h2>Déficit</h2>
<p>Calorías necesarias: {{ caloriasDeficit }}</p>

<h2>Mantenimiento</h2>
<p>Calorías necesarias: {{ caloriasMantenimiento }}</p>

<h2>Superávit</h2>
<p>Calorías necesarias: {{ caloriasSuperavit }}</p>

{% endblock %}


