{# templates/registro_alimento.html.twig #}


    <h1>Registrar Alimento</h1>

    {{ form_start(form) }}
    {{ form_row(form.nombreAlimento) }}
    {{ form_row(form.cantidad) }}
    <button type="submit">Registrar</button>
    {{ form_end(form) }}

